version: '3.1'

services:

  sandbox:
    build: .
    links:
      - python

  python:
    # TODO reduce duplication of FROM in Dockerfile
    image: continuumio/anaconda3:5.0.1
    ports:
      - "8889:8889"
    volumes:
      - ./workspace:/workspace
      - ./jupyter_notebook_config.py:/root/.jupyter/jupyter_notebook_config.py
    working_dir: /workspace
    # since we don't have an actual process running
    # https://stackoverflow.com/questions/38546755/docker-compose-keep-container-running
    command: jupyter notebook